@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Roboto";
}

.bg-container {
    height: 100vh;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tourism-card {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
}

.button {
    color: white;
    background-color: #25b1cc;
    width: 138px;
    height: 36px;
    border-width: 0;
    border-radius: 20px;
}

.main-heading {
    font-family: "Roboto";
}

.paragraph {
    font-family: "Roboto";
}

.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size: cover;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.favourite-places-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

.favourite-place-card-text-container {
    margin-right: 15px;
}

.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    background-size: cover;
    padding: 40px;
    min-height: 100vh;
}

.detailed-view-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.detailed-view-card-container {
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.detailed-view-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
}

.detailed-view-card-text-container {
    padding: 16px;
}

.back-btn {
    height: 36px;
    width: 132px;
    color: white;
    background-color: coral;
    border: 0;
    border-radius: 10px;
}

@media screen and (min-width:768px) {

    .tourism-card {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .main-heading {
        font-size: 60px;
        font-weight: bold;
    }

    .paragraph {
        font-size: 20px;
    }

    .button {
        width: 200px;
        height: 40px;
        border: 0;
        border-radius: 30px;
    }

    .favourite-place-card-container {
        min-width: 600px;
        display: flex;
        justify-content: space-between;
    }

    .detailed-view-card-container {
        background-color: white;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 20px;
        width: 680px;
    }
}